In [37]:
import pandas as pd
pd.set_option('display.max_colwidth', None)

In [38]:
df = pd.read_csv("amazon.csv")

In [39]:
list(df.columns)

['product_id',
 'product_name',
 'category',
 'discounted_price',
 'actual_price',
 'discount_percentage',
 'rating',
 'rating_count',
 'about_product',
 'user_id',
 'user_name',
 'review_id',
 'review_title',
 'review_content',
 'img_link',
 'product_link']

In [40]:
df = df.drop_duplicates()

In [41]:
dropped_columns = ['category','about_product','user_id','user_name','review_id','review_title','review_content','img_link','product_link']
df = df.drop(columns=dropped_columns)

In [42]:
df.head(8)

,product_id,product_name,discounted_price,actual_price,discount_percentage,rating,rating_count
0,B07JW9H4J1,"Wayona Nylon Braided USB to Lightning Fast Charging and Data Sync Cable Compatible for iPhone 13, 12,11, X, 8, 7, 6, 5, iPad Air, Pro, Mini (3 FT Pack of 1, Grey)",₹399,"₹1,099",64%,4.2,"24,269"
1,B098NS6PVG,"Ambrane Unbreakable 60W / 3A Fast Charging 1.5m Braided Type C Cable for Smartphones, Tablets, Laptops & other Type C devices, PD Technology, 480Mbps Data Sync, Quick Charge 3.0 (RCT15A, Black)",₹199,₹349,43%,4.0,"43,994"
2,B096MSW6CT,"Sounce Fast Phone Charging Cable & Data Sync USB Cable Compatible for iPhone 13, 12,11, X, 8, 7, 6, 5, iPad Air, Pro, Mini & iOS Devices",₹199,"₹1,899",90%,3.9,"7,928"
3,B08HDJ86NZ,"boAt Deuce USB 300 2 in 1 Type-C & Micro USB Stress Resistant, Tangle-Free, Sturdy Cable with 3A Fast Charging & 480mbps Data Transmission, 10000+ Bends Lifespan and Extended 1.5m Length(Martian Red)",₹329,₹699,53%,4.2,"94,363"
4,B08CF3B7N1,"Portronics Konnect L 1.2M Fast Charging 3A 8 Pin USB Cable with Charge & Sync Function for iPhone, iPad (Grey)",₹154,₹399,61%,4.2,"16,905"
5,B08Y1TFSP6,"pTron Solero TB301 3A Type-C Data and Fast Charging Cable, Made in India, 480Mbps Data Sync, Strong and Durable 1.5-Meter Nylon Braided USB Cable for Type-C Devices for Charging Adapter (Black)",₹149,"₹1,000",85%,3.9,"24,871"
6,B08WRWPM22,"boAt Micro USB 55 Tangle-free, Sturdy Micro USB Cable with 3A Fast Charging & 480mbps Data Transmission (Black)",₹176.63,₹499,65%,4.1,"15,188"
7,B08DDRGWTJ,MI Usb Type-C Cable Smartphone (Black),₹229,₹299,23%,4.3,"30,411"

In [43]:
df['product_name'] = df['product_name'].apply(lambda x: x.split(' ')[0])

In [44]:
df.head(8)

,product_id,product_name,discounted_price,actual_price,discount_percentage,rating,rating_count
0,B07JW9H4J1,Wayona,₹399,"₹1,099",64%,4.2,"24,269"
1,B098NS6PVG,Ambrane,₹199,₹349,43%,4.0,"43,994"
2,B096MSW6CT,Sounce,₹199,"₹1,899",90%,3.9,"7,928"
3,B08HDJ86NZ,boAt,₹329,₹699,53%,4.2,"94,363"
4,B08CF3B7N1,Portronics,₹154,₹399,61%,4.2,"16,905"
5,B08Y1TFSP6,pTron,₹149,"₹1,000",85%,3.9,"24,871"
6,B08WRWPM22,boAt,₹176.63,₹499,65%,4.1,"15,188"
7,B08DDRGWTJ,MI,₹229,₹299,23%,4.3,"30,411"

In [45]:
df[df.isnull().any(axis=1)]

,product_id,product_name,discounted_price,actual_price,discount_percentage,rating,rating_count
282,B0B94JPY2N,Amazon,₹199,₹999,80%,3.0,NaN
324,B0BQRJ3C47,REDTECH,₹249,₹999,75%,5.0,NaN

In [46]:
df['rating_count'] = df['rating_count'].str.replace(',', '')
df

,product_id,product_name,discounted_price,actual_price,discount_percentage,rating,rating_count
0,B07JW9H4J1,Wayona,₹399,"₹1,099",64%,4.2,24269
1,B098NS6PVG,Ambrane,₹199,₹349,43%,4.0,43994
2,B096MSW6CT,Sounce,₹199,"₹1,899",90%,3.9,7928
3,B08HDJ86NZ,boAt,₹329,₹699,53%,4.2,94363
4,B08CF3B7N1,Portronics,₹154,₹399,61%,4.2,16905
...,...,...,...,...,...,...,...
1460,B08L7J3T31,Noir,₹379,₹919,59%,4,1090
1461,B01M6453MB,Prestige,"₹2,280","₹3,045",25%,4.1,4118
1462,B009P2LIL4,Bajaj,"₹2,219","₹3,080",28%,3.6,468
1463,B00J5DYCCA,Havells,"₹1,399","₹1,890",26%,4,8031
1464,B01486F4G6,Borosil,"₹2,863","₹3,690",22%,4.3,6987

In [47]:
df['rating_count'] = pd.to_numeric(df['rating_count'], errors = 'coerce')
df

,product_id,product_name,discounted_price,actual_price,discount_percentage,rating,rating_count
0,B07JW9H4J1,Wayona,₹399,"₹1,099",64%,4.2,24269.0
1,B098NS6PVG,Ambrane,₹199,₹349,43%,4.0,43994.0
2,B096MSW6CT,Sounce,₹199,"₹1,899",90%,3.9,7928.0
3,B08HDJ86NZ,boAt,₹329,₹699,53%,4.2,94363.0
4,B08CF3B7N1,Portronics,₹154,₹399,61%,4.2,16905.0
...,...,...,...,...,...,...,...
1460,B08L7J3T31,Noir,₹379,₹919,59%,4,1090.0
1461,B01M6453MB,Prestige,"₹2,280","₹3,045",25%,4.1,4118.0
1462,B009P2LIL4,Bajaj,"₹2,219","₹3,080",28%,3.6,468.0
1463,B00J5DYCCA,Havells,"₹1,399","₹1,890",26%,4,8031.0
1464,B01486F4G6,Borosil,"₹2,863","₹3,690",22%,4.3,6987.0

In [48]:
df['rating_count'].fillna(df['rating_count'].mean(), inplace=True)

C:\Users\Imad\AppData\Local\Temp\ipykernel_24320\1367884292.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['rating_count'].fillna(df['rating_count'].mean(), inplace=True)

In [49]:
df

,product_id,product_name,discounted_price,actual_price,discount_percentage,rating,rating_count
0,B07JW9H4J1,Wayona,₹399,"₹1,099",64%,4.2,24269.0
1,B098NS6PVG,Ambrane,₹199,₹349,43%,4.0,43994.0
2,B096MSW6CT,Sounce,₹199,"₹1,899",90%,3.9,7928.0
3,B08HDJ86NZ,boAt,₹329,₹699,53%,4.2,94363.0
4,B08CF3B7N1,Portronics,₹154,₹399,61%,4.2,16905.0
...,...,...,...,...,...,...,...
1460,B08L7J3T31,Noir,₹379,₹919,59%,4,1090.0
1461,B01M6453MB,Prestige,"₹2,280","₹3,045",25%,4.1,4118.0
1462,B009P2LIL4,Bajaj,"₹2,219","₹3,080",28%,3.6,468.0
1463,B00J5DYCCA,Havells,"₹1,399","₹1,890",26%,4,8031.0
1464,B01486F4G6,Borosil,"₹2,863","₹3,690",22%,4.3,6987.0

In [50]:
list(df.dtypes)

[dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('O'),
 dtype('float64')]

In [57]:
df['actual_price'] = df['actual_price'].str.replace(',', '')
df

,product_id,product_name,discounted_price,actual_price,discount_percentage,rating,rating_count
0,B07JW9H4J1,Wayona,399,1099,64,4.2,24269.0
1,B098NS6PVG,Ambrane,199,349,43,4.0,43994.0
2,B096MSW6CT,Sounce,199,1899,90,3.9,7928.0
3,B08HDJ86NZ,boAt,329,699,53,4.2,94363.0
4,B08CF3B7N1,Portronics,154,399,61,4.2,16905.0
...,...,...,...,...,...,...,...
1460,B08L7J3T31,Noir,379,919,59,4,1090.0
1461,B01M6453MB,Prestige,2280,3045,25,4.1,4118.0
1462,B009P2LIL4,Bajaj,2219,3080,28,3.6,468.0
1463,B00J5DYCCA,Havells,1399,1890,26,4,8031.0
1464,B01486F4G6,Borosil,2863,3690,22,4.3,6987.0

In [58]:
df.to_csv('cleaned_amazon_data.csv', index=False)